{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Create an Account {% endblock %}

{% block content %}

<div class="container">

<h1> Create an Account </h1>
<p> Please use this following form </p>
<form action="." method="post">
  {% csrf_token %}
  {{ user_form.username|as_crispy_field  }}
  {{ user_form.first_name|as_crispy_field  }}
  {{ user_form.email|as_crispy_field   }}
  {{ user_form.password|as_crispy_field  }}
  {{ user_form.password2|as_crispy_field  }}
  <input type="submit" class="btn btn-outline-info" value="Create my account" >
</form>


</div>

{% endblock %}
