<!DOCTYPE html>
<html>
<style type="text/css">
p{
	color: blue;
}


</style>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<body>
<ul>
<form>
<p>Title :  <input type="text" name="title"> </p>
<p>Body: <textarea name="title" rows="4" cols="50"></textarea>  </p>
<button type="submit" class="btn btn-outline-primary">Post</button>
</form>
</ul>
</body>
</html>
